<!DOCTYPE html>
<html>

<head>

<title>Login | StudyAI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>

<h2>StudyAI</h2>


<div>

<a href="/">Home</a>

<a href="/signup">Sign Up</a>

</div>


</nav>





<section class="hero">


<div class="answer login-box">


<h1>
Welcome Back 🌌
</h1>



{% with messages = get_flashed_messages(with_categories=true) %}


{% for category, message in messages %}


<div class="flash {{ category }}">

{{ message }}

</div>


{% endfor %}


{% endwith %}






<form method="POST">


<input

name="email"

placeholder="Email"

required

>



<br><br>



<input

type="password"

name="password"

placeholder="Password"

required

>



<br><br>



<button>

Login

</button>



</form>



<p>

Don't have an account?

<a href="/signup">
Create one
</a>

</p>



</div>


</section>



</body>

</html>
