<!DOCTYPE html>
<html>

<head>

<title>Create Account</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav>

<h2>StudyAI</h2>

<a href="/">Home</a>

</nav>



<section class="hero">


<div class="answer">


<h1>
Create Account 🚀
</h1>



<form method="POST">


<input
name="username"
placeholder="Username"
>


<br><br>


<input
name="email"
placeholder="Email"
>



<br><br>


<input
type="password"
name="password"
placeholder="Password"
>



<br><br>


<button>
Create Account
</button>



</form>


</div>


</section>


</body>

</html>
